<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <menu id="1" label="Development">
            <item label="CMake"> <action name="Execute">
                <execute>cmake-gui</execute>
            </action> </item>
            <item label="Electron"> <action name="Execute">
                <execute>electron</execute>
            </action> </item>
            <item label="GDB"> <action name="Execute">
                <execute>xfce4-terminal -e gdb</execute>
            </action> </item>
            <item label="Icon Browser"> <action name="Execute">
                <execute>yad-icon-browser</execute>
            </action> </item>
            <item label="Micro"> <action name="Execute">
                <execute>xfce4-terminal -e micro</execute>
            </action> </item>
            <item label="Scene Builder 17.0.0"> <action name="Execute">
                <execute>/opt/scenebuilder/bin/SceneBuilder</execute>
            </action> </item>
            <item label="UserFeedback Console"> <action name="Execute">
                <execute>UserFeedbackConsole</execute>
            </action> </item>
        </menu>
        <menu id="2" label="Editors">
            <item label="Mousepad"> <action name="Execute">
                <execute>mousepad</execute>
            </action> </item>
            <item label="Nano"> <action name="Execute">
                <execute>xfce4-terminal -e nano</execute>
            </action> </item>
            <item label="Vim"> <action name="Execute">
                <execute>xfce4-terminal -e vim</execute>
            </action> </item>
        </menu>
        <menu id="18" label="Games">
            <menu id="11" label="Board">
                <item label="Knights"> <action name="Execute">
                    <execute>knights</execute>
                </action> </item>
            </menu>
            <menu id="16" label="Strategy">
                <item label="0 A.D."> <action name="Execute">
                    <execute>0ad</execute>
                </action> </item>
            </menu>
            <item label="BlockMap"> <action name="Execute">
                <execute>blockmap-gui</execute>
            </action> </item>
            <item label="Lutris"> <action name="Execute">
                <execute>lutris</execute>
            </action> </item>
            <item label="melonDS"> <action name="Execute">
                <execute>melonDS</execute>
            </action> </item>
            <item label="Minecraft Launcher"> <action name="Execute">
                <execute>minecraft-launcher</execute>
            </action> </item>
            <item label="MultiMC 5"> <action name="Execute">
                <execute>/opt/multimc/run.sh</execute>
            </action> </item>
            <item label="WorldPainter"> <action name="Execute">
                <execute>worldpainter</execute>
            </action> </item>
        </menu>
        <menu id="6" label="Graphics">
            <item label="FontForge"> <action name="Execute">
                <execute>fontforge</execute>
            </action> </item>
            <item label="GNU Image Manipulation Program"> <action name="Execute">
                <execute>gimp-2.10</execute>
            </action> </item>
            <item label="Gwenview"> <action name="Execute">
                <execute>gwenview</execute>
            </action> </item>
            <item label="Ristretto Image Viewer"> <action name="Execute">
                <execute>ristretto</execute>
            </action> </item>
        </menu>
        <menu id="7" label="Multimedia">
            <item label="ALSA mixer"> <action name="Execute">
                <execute>xfce4-terminal -e alsamixer</execute>
            </action> </item>
            <item label="LXMusic simple music player"> <action name="Execute">
                <execute>lxmusic</execute>
            </action> </item>
            <item label="PulseAudio Volume Control"> <action name="Execute">
                <execute>pavucontrol</execute>
            </action> </item>
            <item label="Qt V4L2 test Utility"> <action name="Execute">
                <execute>qv4l2</execute>
            </action> </item>
            <item label="Qt V4L2 video capture utility"> <action name="Execute">
                <execute>qvidcap</execute>
            </action> </item>
            <item label="Spotify"> <action name="Execute">
                <execute>spotify</execute>
            </action> </item>
            <item label="Strawberry"> <action name="Execute">
                <execute>strawberry</execute>
            </action> </item>
            <item label="Volume Icon"> <action name="Execute">
                <execute>volumeicon</execute>
            </action> </item>
        </menu>
        <menu id="5" label="Network">
            <item label="Avahi SSH Server Browser"> <action name="Execute">
                <execute>bssh</execute>
            </action> </item>
            <item label="Avahi VNC Server Browser"> <action name="Execute">
                <execute>bvnc</execute>
            </action> </item>
            <item label="Claws Mail"> <action name="Execute">
                <execute>claws-mail</execute>
            </action> </item>
            <item label="FireFox"> <action name="Execute">
                <execute>firefox</execute>
            </action> </item>
            <item label="Google Earth"> <action name="Execute">
                <execute>google-earth-pro</execute>
            </action> </item>
            <item label="Irssi"> <action name="Execute">
                <execute>xfce4-terminal -e irssi</execute>
            </action> </item>
            <item label="Mail Reader"> <action name="Execute">
                <execute>exo-open --launch MailReader</execute>
            </action> </item>
            <item label="Microsoft Teams - Preview"> <action name="Execute">
                <execute>teams</execute>
            </action> </item>
            <item label="qutebrowser"> <action name="Execute">
                <execute>qutebrowser</execute>
            </action> </item>
            <item label="Steam (Runtime)"> <action name="Execute">
                <execute>steam-runtime</execute>
            </action> </item>
            <item label="Thunderbird"> <action name="Execute">
                <execute>thunderbird</execute>
            </action> </item>
            <item label="Tor Browser"> <action name="Execute">
                <execute>torbrowser-launcher</execute>
            </action> </item>
            <item label="Tor Browser Launcher Settings"> <action name="Execute">
                <execute>torbrowser-launcher --settings</execute>
            </action> </item>
            <item label="Vivaldi"> <action name="Execute">
                <execute>vivaldi-stable</execute>
            </action> </item>
            <item label="W3m"> <action name="Execute">
                <execute>xfce4-terminal -e w3m</execute>
            </action> </item>
            <item label="Web Browser"> <action name="Execute">
                <execute>exo-open --launch WebBrowser</execute>
            </action> </item>
        </menu>
        <menu id="3" label="Office">
            <item label="Dictionary"> <action name="Execute">
                <execute>xfce4-dict</execute>
            </action> </item>
            <item label="Document Viewer"> <action name="Execute">
                <execute>evince</execute>
            </action> </item>
            <item label="LibreOffice Impress"> <action name="Execute">
                <execute>libreoffice</execute>
            </action> </item>
        </menu>
        <menu id="19" label="Shells">
            <item label="Alacritty"> <action name="Execute">
                <execute>alacritty</execute>
            </action> </item>
            <item label="Dolphin"> <action name="Execute">
                <execute>dolphin</execute>
            </action> </item>
            <item label="File Manager PCManFM"> <action name="Execute">
                <execute>pcmanfm</execute>
            </action> </item>
            <item label="GIT"> <action name="Execute">
                <execute>xfce4-terminal -e git</execute>
            </action> </item>
            <item label="gmrun"> <action name="Execute">
                <execute>gmrun</execute>
            </action> </item>
            <item label="kitty"> <action name="Execute">
                <execute>kitty</execute>
            </action> </item>
            <item label="Oracle VM VirtualBox"> <action name="Execute">
                <execute>VirtualBox</execute>
            </action> </item>
            <item label="Termite"> <action name="Execute">
                <execute>termite</execute>
            </action> </item>
            <item label="Thunar File Manager"> <action name="Execute">
                <execute>thunar</execute>
            </action> </item>
            <item label="urxvt"> <action name="Execute">
                <execute>urxvt</execute>
            </action> </item>
            <item label="urxvt (client)"> <action name="Execute">
                <execute>urxvtc</execute>
            </action> </item>
            <item label="urxvt (tabbed)"> <action name="Execute">
                <execute>urxvt-tabbed</execute>
            </action> </item>
            <item label="Xfce Terminal"> <action name="Execute">
                <execute>xfce4-terminal</execute>
            </action> </item>
        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <menu id="21" label="GNOME">
                    <item label="About Me"> <action name="Execute">
                        <execute>mugshot</execute>
                    </action> </item>
                    <item label="Adblock"> <action name="Execute">
                        <execute>termite -e "pkexec hblock" --hold</execute>
                    </action> </item>
                    <item label="Add/Remove Software"> <action name="Execute">
                        <execute>pamac-manager</execute>
                    </action> </item>
                    <item label="Advanced Network Configuration"> <action name="Execute">
                        <execute>nm-connection-editor</execute>
                    </action> </item>
                    <item label="ArcoLinux Betterlockscreen"> <action name="Execute">
                        <execute>arcolinux-betterlockscreen</execute>
                    </action> </item>
                    <item label="Arcolinux Tweak Tool"> <action name="Execute">
                        <execute>arcolinux-tweak-tool</execute>
                    </action> </item>
                    <item label="Bluetooth"> <action name="Execute">
                        <execute>blueberry</execute>
                    </action> </item>
                    <item label="Bluetooth Manager"> <action name="Execute">
                        <execute>blueman-manager</execute>
                    </action> </item>
                    <item label="Menu Editor"> <action name="Execute">
                        <execute>menulibre</execute>
                    </action> </item>
                    <item label="Privilege granting"> <action name="Execute">
                        <execute>gksu-properties</execute>
                    </action> </item>
                    <item label="Quick System Info"> <action name="Execute">
                        <execute>termite -e "/usr/bin/inxi -F" --hold</execute>
                    </action> </item>
                </menu>
                <menu id="35" label="Xfce">
                    <item label="Bluetooth Adapters"> <action name="Execute">
                        <execute>blueman-adapters</execute>
                    </action> </item>
                    <item label="Panel Profiles"> <action name="Execute">
                        <execute>xfce4-panel-profiles</execute>
                    </action> </item>
                    <item label="Settings Manager"> <action name="Execute">
                        <execute>xfce4-settings-manager</execute>
                    </action> </item>
                    <item label="Theme Switcher"> <action name="Execute">
                        <execute>xfce4-theme-switcher</execute>
                    </action> </item>
                </menu>
                <item label="Accessibility"> <action name="Execute">
                    <execute>xfce4-accessibility-settings</execute>
                </action> </item>
                <item label="Appearance"> <action name="Execute">
                    <execute>xfce4-appearance-settings</execute>
                </action> </item>
                <item label="ARandR"> <action name="Execute">
                    <execute>arandr</execute>
                </action> </item>
                <item label="ArcoLinux Conkyzen"> <action name="Execute">
                    <execute>am-conkyzen</execute>
                </action> </item>
                <item label="Arcolinux Desktop Trasher"> <action name="Execute">
                    <execute>arcolinux-desktop-trasher</execute>
                </action> </item>
                <item label="ArcoLinux Welcome"> <action name="Execute">
                    <execute>arcolinux-welcome-app</execute>
                </action> </item>
                <item label="Clipboard Manager Settings"> <action name="Execute">
                    <execute>xfce4-clipman-settings</execute>
                </action> </item>
                <item label="Color Profiles"> <action name="Execute">
                    <execute>xfce4-color-settings</execute>
                </action> </item>
                <item label="Customize Look and Feel"> <action name="Execute">
                    <execute>lxappearance</execute>
                </action> </item>
                <item label="Default Applications"> <action name="Execute">
                    <execute>xfce4-mime-settings</execute>
                </action> </item>
                <item label="Desktop"> <action name="Execute">
                    <execute>xfdesktop-settings</execute>
                </action> </item>
                <item label="Desktop Preferences"> <action name="Execute">
                    <execute>pcmanfm --desktop-pref</execute>
                </action> </item>
                <item label="Display"> <action name="Execute">
                    <execute>xfce4-display-settings</execute>
                </action> </item>
                <item label="File Manager Settings"> <action name="Execute">
                    <execute>thunar-settings</execute>
                </action> </item>
                <item label="Firewall"> <action name="Execute">
                    <execute>firewall-config</execute>
                </action> </item>
                <item label="Grub Customizer"> <action name="Execute">
                    <execute>grub-customizer</execute>
                </action> </item>
                <item label="KDE System Settings"> <action name="Execute">
                    <execute>systemsettings5</execute>
                </action> </item>
                <item label="Keyboard"> <action name="Execute">
                    <execute>xfce4-keyboard-settings</execute>
                </action> </item>
                <item label="Kvantum Manager"> <action name="Execute">
                    <execute>kvantummanager</execute>
                </action> </item>
                <item label="Manage Printing"> <action name="Execute">
                    <execute>xdg-open http://localhost:631/</execute>
                </action> </item>
                <item label="Mouse and Touchpad"> <action name="Execute">
                    <execute>xfce4-mouse-settings</execute>
                </action> </item>
                <item label="nitrogen"> <action name="Execute">
                    <execute>nitrogen</execute>
                </action> </item>
                <item label="Notifications"> <action name="Execute">
                    <execute>xfce4-notifyd-config</execute>
                </action> </item>
                <item label="Openbox Configuration Manager"> <action name="Execute">
                    <execute>obconf</execute>
                </action> </item>
                <item label="Panel"> <action name="Execute">
                    <execute>xfce4-panel --preferences</execute>
                </action> </item>
                <item label="Power Manager"> <action name="Execute">
                    <execute>xfce4-power-manager-settings</execute>
                </action> </item>
                <item label="Preferred Applications"> <action name="Execute">
                    <execute>libfm-pref-apps</execute>
                </action> </item>
                <item label="Print Settings"> <action name="Execute">
                    <execute>system-config-printer</execute>
                </action> </item>
                <item label="Removable Drives and Media"> <action name="Execute">
                    <execute>thunar-volman-settings</execute>
                </action> </item>
                <item label="Session and Startup"> <action name="Execute">
                    <execute>xfce4-session-settings</execute>
                </action> </item>
                <item label="Settings Editor"> <action name="Execute">
                    <execute>xfce4-settings-editor</execute>
                </action> </item>
                <item label="System Settings"> <action name="Execute">
                    <execute>systemsettings</execute>
                </action> </item>
                <item label="Text Editor Settings"> <action name="Execute">
                    <execute>mousepad --preferences</execute>
                </action> </item>
                <item label="Window Manager"> <action name="Execute">
                    <execute>xfwm4-settings</execute>
                </action> </item>
                <item label="Window Manager Tweaks"> <action name="Execute">
                    <execute>xfwm4-tweaks-settings</execute>
                </action> </item>
                <item label="Workspaces"> <action name="Execute">
                    <execute>xfwm4-workspace-settings</execute>
                </action> </item>
                <item label="Xfce Terminal Settings"> <action name="Execute">
                    <execute>xfce4-terminal --preferences</execute>
                </action> </item>
                <item label="YAD settings"> <action name="Execute">
                    <execute>yad-settings</execute>
                </action> </item>
            </menu>
            <item label="ArcoLinux Conky Toggle"> <action name="Execute">
                <execute>conky-toggle</execute>
            </action> </item>
            <item label="Avahi Zeroconf Browser"> <action name="Execute">
                <execute>avahi-discover</execute>
            </action> </item>
            <item label="conky"> <action name="Execute">
                <execute>conky --daemonize --pause=1</execute>
            </action> </item>
            <item label="dconf Editor"> <action name="Execute">
                <execute>dconf-editor</execute>
            </action> </item>
            <item label="Discover"> <action name="Execute">
                <execute>plasma-discover</execute>
            </action> </item>
            <item label="fish"> <action name="Execute">
                <execute>xfce4-terminal -e fish</execute>
            </action> </item>
            <item label="GParted"> <action name="Execute">
                <execute>gparted</execute>
            </action> </item>
            <item label="Hardware Locality lstopo"> <action name="Execute">
                <execute>lstopo</execute>
            </action> </item>
            <item label="Htop"> <action name="Execute">
                <execute>xfce4-terminal -e htop</execute>
            </action> </item>
            <item label="Info Center"> <action name="Execute">
                <execute>kinfocenter</execute>
            </action> </item>
            <item label="KSysGuard"> <action name="Execute">
                <execute>ksysguard</execute>
            </action> </item>
            <item label="Log Out"> <action name="Execute">
                <execute>xfce4-session-logout</execute>
            </action> </item>
            <item label="OpenJDK Java 11 Shell"> <action name="Execute">
                <execute>xfce4-terminal -e /usr/lib/jvm/java-11-openjdk/bin/jshell</execute>
            </action> </item>
            <item label="OpenJDK Java 17 Console"> <action name="Execute">
                <execute>jconsole</execute>
            </action> </item>
            <item label="Sensor Viewer"> <action name="Execute">
                <execute>xfce4-sensors</execute>
            </action> </item>
            <item label="Software Token"> <action name="Execute">
                <execute>stoken-gui</execute>
            </action> </item>
            <item label="Software Token (small)"> <action name="Execute">
                <execute>stoken-gui --small</execute>
            </action> </item>
            <item label="System Monitor"> <action name="Execute">
                <execute>plasma-systemmonitor</execute>
            </action> </item>
            <item label="System Profiler and Benchmark"> <action name="Execute">
                <execute>hardinfo</execute>
            </action> </item>
            <item label="Task Manager"> <action name="Execute">
                <execute>xfce4-taskmanager</execute>
            </action> </item>
            <item label="USB Stick Formatter"> <action name="Execute">
                <execute>mintstick -m format</execute>
            </action> </item>
        </menu>
        <menu id="38" label="Utilities">
            <item label="About Xfce"> <action name="Execute">
                <execute>xfce4-about</execute>
            </action> </item>
            <item label="Application Finder"> <action name="Execute">
                <execute>xfce4-appfinder</execute>
            </action> </item>
            <item label="Archive Manager"> <action name="Execute">
                <execute>file-roller</execute>
            </action> </item>
            <item label="balenaEtcher"> <action name="Execute">
                <execute>/opt/balenaEtcher/balena-etcher-electron</execute>
            </action> </item>
            <item label="Clipboard Manager"> <action name="Execute">
                <execute>xfce4-clipman</execute>
            </action> </item>
            <item label="Disks"> <action name="Execute">
                <execute>gnome-disks</execute>
            </action> </item>
            <item label="Emoji Selector"> <action name="Execute">
                <execute>ibus-ui-emojier-plasma</execute>
            </action> </item>
            <item label="File Manager"> <action name="Execute">
                <execute>exo-open --launch FileManager</execute>
            </action> </item>
            <item label="Filelight"> <action name="Execute">
                <execute>filelight</execute>
            </action> </item>
            <item label="Font Manager"> <action name="Execute">
                <execute>font-manager</execute>
            </action> </item>
            <item label="Font Viewer"> <action name="Execute">
                <execute>/usr/libexec/font-manager/font-viewer</execute>
            </action> </item>
            <item label="KCalc"> <action name="Execute">
                <execute>kcalc</execute>
            </action> </item>
            <item label="Klipper"> <action name="Execute">
                <execute>klipper</execute>
            </action> </item>
            <item label="Notes"> <action name="Execute">
                <execute>xfce4-notes</execute>
            </action> </item>
            <item label="picom"> <action name="Execute">
                <execute>picom</execute>
            </action> </item>
            <item label="Plank"> <action name="Execute">
                <execute>plank</execute>
            </action> </item>
            <item label="Run Program..."> <action name="Execute">
                <execute>xfce4-appfinder --collapsed</execute>
            </action> </item>
            <item label="Screenshot"> <action name="Execute">
                <execute>xfce4-screenshooter</execute>
            </action> </item>
            <item label="Terminal Emulator"> <action name="Execute">
                <execute>exo-open --launch TerminalEmulator</execute>
            </action> </item>
            <item label="USB Image Writer"> <action name="Execute">
                <execute>mintstick -m iso</execute>
            </action> </item>
            <item label="Variety"> <action name="Execute">
                <execute>variety</execute>
            </action> </item>
            <item label="Winetricks"> <action name="Execute">
                <execute>winetricks --gui</execute>
            </action> </item>
        </menu>
        <separator/>
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <item label="Exit"> <action name="Exit"/> </item>
        </menu>
    </menu>
</openbox_menu>
